body{
    background-color: rgb(44, 134, 82);
}

.text{
    text-align: center;
    color: white;
}

.flexmebaby{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    margin-right: 40px;
}

.ClearBtn{
    background-color: rgb(59, 196, 196);
    color: white;
    border: 1px solid white;
    font-size: 20px;
    border-radius: 25px;
    height: 60px;
    width: 150px;
    margin-top: 10px;
    cursor: pointer;
}

.ClearBtn:hover{
    background-color: rgb(59, 208, 208);
}

.MainContainer{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.GameFrame{
    opacity: 100%;
    padding: 10px;
    background-color: white;
    width: 575px;
    height: 575px;  
    border-radius: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 185px 185px 185px;
}

.buttons{
    background-color: rgb(59, 196, 196);
    color:black;
    font-size: 150px;
    border-radius: 10px;
    min-width: 185px;
    height: 185px;
    text-align: center;
}

.buttons:hover{
    cursor: pointer;
    background-color: rgb(59, 208, 208);
}

.player{
    color:white;
    font-size: 25px;
    padding-bottom: 10px;
}

#MadeBy, a{
    margin-top: 30px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}