body{
    background-color: rgb(44, 134, 82);
}

.MainTextTitle{
    color:white;
    font-size: 70px;
}

.text{
    text-align: center;
    color: white;
}

.flexmebaby{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    margin-right: 40px;
}

.ClearBtn{
    background-color: rgb(59, 196, 196);
    color: white;
    border: 1px solid white;
    font-size: 20px;
    border-radius: 25px;
    height: 60px;
    width: 150px;
    margin-top: 10px;
    cursor: pointer;
}

.ClearBtn:hover{
    background-color: rgb(59, 208, 208);
}

.MainContainer{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.GameFrame{
    opacity: 100%;
    padding: 10px;
    background-color: white;
    width: 575px;
    height: 575px;  
    border-radius: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.Tiles{
    font-family: serif;
    background-color: rgb(59, 196, 196);
    color:black;
    font-size: 150px;
    border-radius: 10px;
    border: 1px solid rgb(59, 196, 196);
    text-align: center;
}

.Tiles:hover{
    cursor: pointer;
    background-color: rgb(59, 208, 208);
}

.Player{
    color:white;
    font-size: 25px;
    padding-bottom: 10px;
}

#MadeBy, a{
    margin-top: 30px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

/*mobile screen styling*/
@media (max-width: 600px){
    .MainTextTitle{
        margin-bottom: 10px;
        color:white;
        font-size: 45px;
    }

    .flexmebaby{
        display: grid;
        grid-template-columns: 3fr 0.5fr;
        margin-right: 30px;
    }
    
    .ClearBtn{
        text-align: center;
        background-color: rgb(59, 196, 196);
        color: white;
        border: 1px solid white;
        font-size: 14px;
        border-radius: 25px;
        height: 35px;
        width: 70px;
        cursor: pointer;
    }

    .GameFrame{
        opacity: 100%;
        padding: 10px;
        background-color: white;
        width: 290px;
        height: 290px;
        border-radius: 10px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .Tiles{
        font-family: serif;
        background-color: rgb(59, 196, 196);
        color:black;
        font-size: 80px;
        border-radius: 10px;
        border: 1px solid rgb(59, 196, 196);
        text-align: center
    }

    .Tiles:hover{
        cursor: pointer;
        background-color: rgb(59, 208, 208);
    }
    
    .Player{
        color:white;
        font-size: 16px;
        padding-bottom: 10px;
        margin-left: 15px;
    }
    
    #MadeBy, a{
        margin-top: 20px;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
        color: white;
    }
}